<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <% include templates/headers.ejs %>
   <h3> Change Password </h3>
   <p> <%=title %> </p>
   <p>Simulating <%=username%> changing password</p>
  </body>
</html>