<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <% include templates/headers.ejs %>
   <h3> Create User </h3>
   <p> <%=title %> </p>
  </body>
</html>