<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <h3> Users </h3>
   <p> <%=title %> </p>
	<ul>
	<li><a href="/createusers">Create User</a></li>
	<li><a href="/changepassword">Change Password</a></li>
	<li><a href="/forgotpassword">Forgotten Password</a></li>
  </body>
</html>